@use '@/styles/variables.scss' as *;

.container {
	background-color: $color-gray100;
}

.wrapper {
	gap: 0.5rem;
	display: flex;
	align-items: center;
	padding-top: 1.25rem;
	flex-direction: column;
	padding-bottom: 1.25rem;

	h2 {
		font-weight: 700;
		text-align: center;
		font-size: $fontSize-t2;
	}
}

.highlight {
	color: $color-blue600;
}

.description {
	text-align: center;
	color: $color-gray700;
	margin-bottom: 0.75rem;
}

.cards {
	width: 100%;
	gap: 0.75rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
}

.loading {
	width: auto;
	height: auto;
}

.pages {
	gap: 1rem;
	display: flex;
	margin-top: 1rem;

	button {
		width: 2.5rem;
		height: 2.5rem;
		color: $color-gray25;
		font-size: $fontSize-xl;
		border-radius: $radius-xs;
		transition: opacity 400ms ease;
		background-color: $color-blue500;

		&:hover {
			opacity: 0.8;
		}

		&.active {
			background-color: $color-blue700;
		}
	}
}

@media (min-width: $breakpoint-sm) {
	.cards {
		flex-direction: row;
		align-items: stretch;
		justify-content: center;
	}
}
