$color-gray25: #fcfcfd;
$color-gray50: #f8fafc;
$color-gray100: #eef2f6;
$color-gray200: #e3e8ef;
$color-gray300: #cdd5df;
$color-gray400: #9aa4b2;
$color-gray500: #697586;
$color-gray600: #4b5565;
$color-gray700: #364152;
$color-gray800: #202939;
$color-gray900: #121926;

$color-blue50: #f5faff;
$color-blue100: #eff8ff;
$color-blue200: #d1e9ff;
$color-blue300: #b2ddff;
$color-blue400: #84caff;
$color-blue500: #53b1fd;
$color-blue600: #2e90fa;
$color-blue700: #1570ef;
$color-blue800: #175cd3;
$color-blue900: #1849a9;

$color-yellow50: #fffef5;
$color-yellow100: #fffdf0;
$color-yellow200: #fffad1;
$color-yellow300: #feffb3;
$color-yellow400: #fff385;
$color-yellow500: #fdec53;
$color-yellow600: #fae52e;
$color-yellow700: #efd915;
$color-yellow800: #d3c017;
$color-yellow900: #aa9b18;

$color-green50: #f5fff7;
$color-green100: #f0fff3;
$color-green200: #d1ffdb;
$color-green300: #b3ffc3;
$color-green400: #85ff9f;
$color-green500: #53fd78;
$color-green600: #2efa5a;
$color-green700: #15ef44;
$color-green800: #17d340;
$color-green900: #18aa38;

$color-orange50: #fffaf5;
$color-orange100: #fff7f0;
$color-orange200: #ffe7d1;
$color-orange300: #ffd7b3;
$color-orange400: #ffc085;
$color-orange500: #fda553;
$color-orange600: #fa912e;
$color-orange700: #ef7e15;
$color-orange800: #d37217;
$color-orange900: #aa5e18;

/** 14px */
$fontSize-xs: 0.875rem;
/** 16px */
$fontSize-sm: 1rem;
/** 18px */
$fontSize-md: 1.125rem;
/** 20px */
$fontSize-lg: 1.25rem;
/** 22px */
$fontSize-xl: 1.375rem;
/** 24px */
$fontSize-t1: 1.5rem;
/** 32px */
$fontSize-t2: 2rem;
/** 44px */
$fontSize-t3: 2.75rem;
/** 52px */
$fontSize-t4: 3.25rem;
/** 56px */
$fontSize-t5: 3.5rem;
/** 66px */
$fontSize-t6: 4.125rem;

/** 4px */
$radius-xs: 0.25rem;
/** 8px */
$radius-sm: 0.5rem;
/** 12px */
$radius-md: 0.75rem;
/** 16px */
$radius-lg: 1rem;
/** 20px */
$radius-xl: 1.25rem;
/** 999px */
$radius-fill: 62.438rem;

/** 480px */
$breakpoint-xs: 30rem;
/** 768px */
$breakpoint-sm: 48rem;
/** 1024px */
$breakpoint-md: 64rem;
/** 1200px */
$breakpoint-lg: 75rem;
/** 1400px */
$breakpoint-xl: 87.5rem;
