@use '@/styles/variables.scss' as *;

.container {
	width: 100%;
	padding-top: 1.75rem;
	padding-bottom: 1.75rem;
	background-color: $color-blue600;
}

.copy {
	text-align: center;
	color: $color-gray25;
}

@media (min-width: $breakpoint-xs) {
	.inner {
		gap: 1rem;
	}

	.column {
		flex: 1;
		width: auto;
	}
}

@media (min-width: $breakpoint-sm) {
	.container {
		padding-bottom: 1.75rem;
	}
}

@media (min-width: $breakpoint-md) {
	.container {
		padding-bottom: 1.75rem;

		h1 {
			text-align: left;
		}
	}

	.description {
		width: 23rem;
		text-align: left;
	}
}

@media (min-width: $breakpoint-lg) {
	.description {
		width: 26rem;
	}
}
