@use '@/styles/variables.scss' as *;

.container {
	width: 100%;
	gap: 0.375rem;
	display: flex;
	position: relative;
	flex-direction: column;

	label {
		font-weight: 500;
		color: $color-gray700;
	}

	& > input,
	& > button,
	& > select {
		width: 100%;
		text-align: left;
		border-radius: $radius-sm;
		transition: all 400ms ease;
		border: 1px solid $color-gray300;
		padding: 0.75rem 2.5rem 0.75rem 1.125rem;
		transition: border-color 400ms ease, transform 400ms ease;

		&::placeholder {
			font-weight: 400;
		}

		&:hover {
			transform: translateY(-0.125rem);
		}

		&.focused {
			border-color: $color-gray500;
		}
	}
}

.icon {
	top: 69%;
	right: 1rem;
	cursor: pointer;
	position: absolute;
	transform: translateY(-50%);
}

@media (min-width: $breakpoint-xs) {
	.container {
		max-width: 24rem;
	}
}
